<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samsung.android.music">

    <!-- Music Player Permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SamsungMusicTheme">

        <!-- Samsung One UI 10.0 Metadata -->
        <meta-data
            android:name="SamsungBasicInteraction"
            android:value="SEP11" />

        <meta-data
            android:name="com.samsung.android.icon_container.has_icon_container"
            android:value="true" />
        <meta-data
            android:name="com.samsung.android.icon_container.feature_appicon"
            android:value="ADAPTIVEICON_SHADOW" />

        <!-- One UI 10.0 Theming -->
        <meta-data
            android:name="theming-meta"
            android:value="samsung_music_player" />

        <meta-data
            android:name="theming-meta-xml"
            android:value="@xml/samsung_music_theming" />

        <!-- Samsung Music Player Metadata -->
        <meta-data
            android:name="com.samsung.android.music.version"
            android:value="10.0" />
        
        <meta-data
            android:name="com.samsung.android.music.glassy_ui"
            android:value="true" />

        <!-- Samsung Music Player Splash Screen -->
        <activity
            android:name="com.samsung.android.music.activity.SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true"
            android:screenOrientation="portrait">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Music Player Activity -->
        <activity
            android:name="com.samsung.android.music.activity.MainActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize"
            android:launchMode="singleTop"
            android:exported="false">

            <meta-data
                android:name="com.sec.android.app.launcher.icon_theme"
                android:value="themeColor" />

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name="dev.oneuiproject.oneuiexample.activity.AboutActivity"
            android:configChanges="orientation|screenLayout|screenSize|smallestScreenSize" />

        <activity
            android:name="dev.oneuiproject.oneuiexample.activity.SampleAboutActivity" />

    </application>

</manifest>
